
<section class="accueil" >
  <img class="profil"
      src="assets/profil.jpg"
      alt="AngularIcone"/>
      <h1><i>Mathieu ALMON</i></h1>
  <mat-card>
    <mat-card-content>
      <p>
        Concepteur développeur passionné, spécialisé dans le développement de solutions logicielles et dans la création d'applications web. Je suis constamment
        à l'affût de procédure, méthodes et technologies permetant la fabriquation de logiciel pérenne afin d'offrir des expériences numériques fiable et optimisées. Mon objectif est de créer des solutions
        informatiques efficaces et élégantes qui répondent aux besoins spécifiques.
        En combinant ma créativité, ma maîtrise des langages de programmation et ma capacité à résoudre les problèmes, je suis prêt à relever de nouveaux défis et
        à contribuer au succès de projets passionnants.
      </p>
    </mat-card-content>
</mat-card>
<div>
    <img width="75" height="95"
    src="assets/angular-icon.svg"
    alt="AngularIcone"/>
    <img width="75" height="95"
    src="assets/java-icon.svg"
    alt="JavaIcone"/>
  <img width="75" height="95"
  src="assets/springio-icon.svg"
  alt="SpringIcone"/>
  </div>
</section>

