<div class="grid-container">
  <mat-grid-list *ngIf="(cards | async) as values" cols="3" rowHeight="95px">
    <mat-grid-tile  [colspan]="values[0].cols" [rowspan]="values[0].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Expériences
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <span *ngFor="let experience of experiences">
            <mat-divider ></mat-divider><br>
            <p>
            <b>Poste</b> : {{experience.poste}}<br>
            <b>Client</b> : {{experience.client}}<br>
            <b>Période</b> : {{experience.periode}}<br>
            <b>Projet</b> : {{experience.projet}}<br><br>
            {{experience.description}}
            </p>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="values[1].cols" [rowspan]="values[1].rows">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            Cursus Scolaire
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        <mat-divider ></mat-divider><br>
        <p>
        <b>Manager de solutions digitales et data</b><br>
        Ecole Supérieure du Numérique du Tarn <br>
        2020-2022
        </p>
        <p><b>Licence Concepteur de Systemes d’Informations</b><br>
        ORT Toulouse<br>
        2019-2020</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="values[2].cols" [rowspan]="values[2].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Loisirs
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
          <mat-list-item>
            <mat-icon  matListItemIcon>flight_takeoff</mat-icon>
            <span matListItemLine>Voyager à travers l'Europe</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>terminal</mat-icon>
            <span matListItemLine>Réaliser des applications</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>hiking</mat-icon>
            <span matListItemLine>Randonée pédestre</span>
          </mat-list-item>
        </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
